body{background-color:White;}

p{color:black;font-family: Arial;}

h1{color:blue;font family: Arial;} 

h3{color:skyblue;font family: New Roman Times;}

UL{ list-style-type: lower-roman; color:black; font-family:"iskoolaPota";}

